header {
    display: flex; /* Agregar Flexbox a header */
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: space-between; /* Espacio entre elementos para centrar el título y alinear el botón a la derecha */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Opcional: añade un fondo al header */
}

.title{
    text-align: center;
    margin-top: 30px;
    color: white;
    animation:blur .75s ease-out infinite;
    text-shadow:0px 0px 5px white,
      0px 0px 7px purple;
}

body{
    font-family:'Montserrat', sans-serif;
    color: white;
    background-image: url(BackgroundRanking.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    margin-top: 30px;
    margin-left: 70px;
    text-shadow: 4px 4px black;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}
p{
    margin-top: 40px;
    margin-left: 50px;
    font-size: large;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    background-color: rgb(138, 11, 170);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }